@model SocialMedia.Entity.User.ChangePassword
@{
    ViewBag.Title = "Şifrenizi Değiştirebilirsiniz";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}

<div class="container-fluid  dashboard-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                @if (TempData["msg"] != null)
                {
                    <h2 class="pageheader-title">@TempData["msg"] </h2>
                }
                @if (TempData["msg"] == null)
                {
                    <h2>@ViewBag.Title</h2>
                }
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="~/HomeUser/Index" class="breadcrumb-link">Anasayfa</a></li>
                            @if (TempData["msg"] != null)
                            {
                                <li class="breadcrumb-item active" aria-current="page">@TempData["msg"]</li>
                            }
                            @if (TempData["msg"] == null)
                            {
                                <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                            }
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header" style="color:darkred">
                    * ile belirtilen alanlar zorunludur
                </h5>
                <div class="card-body">
                    @Html.ValidationSummary()
                    <form id="validationform" method="post" data-parsley-validate="" novalidate="">
                        @Html.AntiForgeryToken()
                        <div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">Şireniz: *</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                                <input type="password" required="" name="OldPassword" placeholder="Şifreniz" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">Yeni Şifreniz: *</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                                <input type="password" required="" name="NewPassword" placeholder="Yeni Şifreniz" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">Yeni Şifrenizi Onaylayın: *</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                                <input type="password" required="" name="ConfirmNewPassword" placeholder="Yeni Şifrenizi Onaylayın" class="form-control">
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row text-right">
                            <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
                                <button type="submit" class="btn btn-space btn-primary">Şifrenizi Güncelleyin</button>
                                <a href="~/HomeUser/Index" class="btn btn-space btn-secondary">İptal</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>