@model SocialMedia.Entity.User.ResetPassword
@{
    ViewBag.Title = "Şifrenizi Yenileyin";
    TempData["Title"] = "Yeni Şifre Belirleyin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="aa-catg-head-banner">
    <img src="~/Content/temp/web/img/fashion/fashion-header-bg-8.jpg" alt="banner" title="provechoo.com" style="max-height:350px;max-width:1400px;min-height:350px;min-width:1400px">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>@ViewBag.Title</h2>
                <ol class="breadcrumb">
                    <li><a href="~/Home/Index">Anasayfa</a></li>
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section id="aa-myaccount">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-myaccount-area">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="aa-myaccount-register">
                                <h4>@ViewBag.Title</h4>
                                <h5 style="color:darkred">@TempData["Title"]</h5>
                                <form action="" class="aa-login-form" method="post">
                                    @using (Html.BeginForm("ResetPassword", "UserAccount", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        
                                        <label for="">E-Mail Adresiniz<span>*</span></label><br />
                                        <input type="email" name="Email" placeholder="e-mail adresiniz"><br />
                                        <label for="">Yeni Şifreniz<span>*</span></label>
                                        <input type="password" name="Password" placeholder="yeni şifreniz">
                                        <label for="">Yeni Şifrenizi Onaylayınız<span>*</span></label>
                                        <input type="password" name="ConfirmPassword" placeholder="yeni şifrenizi onaylayınız">

                                        <button type="submit" class="aa-browse-btn">Giriş Yap</button>
                                    }
                                </form>
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>