@model SocialMedia.Entity.Admin.Register
@{
    Layout = null;
    ViewBag.Title = "Yeni Admin Kaydı Yapabilirsiniz";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="kurtulusocal">
    <meta name="keyword" content="">
    <link rel="shortcut icon" href="~/img/Logo 3.png">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/temp/Admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/temp/Admin/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="~/Content/temp/Admin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/temp/Admin/css/style.css" rel="stylesheet">
    <link href="~/Content/temp/Admin/css/style-responsive.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-body">
    <div class="container">
        <form class="form-signin" method="post" action="">
            <h2 class="form-signin-heading">@ViewBag.Title</h2>
            @Html.ValidationSummary()
            @using (Html.BeginForm("Register", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="login-wrap">
                    <p>Lütfen Aşağıdaki Formu Eksiksiz Doldurunuz</p>
                    <input type="text" class="form-control" name="NameSurname" placeholder="Adınız Soyadınız" autofocus>
                    <input type="text" class="form-control" name="Username" placeholder="Kullanıcı Adınız" autofocus>
                    <input type="date" class="form-control" name="Birthdate" placeholder="Doğum Tarihiniz" autofocus>
                    <input type="text" class="form-control" name="Gender" placeholder="Cinsiyetiniz" autofocus>
                    <input type="text" class="form-control" name="Province" placeholder="Eyalet/Bölge" autofocus>
                    <input type="text" class="form-control" name="City" placeholder="Şehriniz" autofocus>
                    <input type="text" class="form-control" name="Country" placeholder="Ülkeniz" autofocus>
                    <input type="text" class="form-control" name="RespondTitle" placeholder="Göreviniz" autofocus>
                    <input type="text" class="form-control" name="PhoneNumber" placeholder="Telefon Numaranız" autofocus>
                    <input type="email" class="form-control" name="Email" placeholder="E-mail" autofocus><br />
                    <input type="password" class="form-control" name="Password" placeholder="Şifrenizi Belirleyiniz">
                    <input type="password" class="form-control" name="ConfirmPassword" placeholder="Şifrenizi Tekrar Yazınız">

                    <button class="btn btn-lg btn-login btn-block" type="submit">Kaydı Tamamla</button>
                </div>
            }
        </form>
    </div>
    <div class="container">
        @if (TempData["msg"] != null)
        {
            <h2 class="form-signin-heading">@TempData["msg"]</h2>
        }
    </div>
</body>
</html>
